.root > * {
    -background-variant-color: yellow;
}

.logo {
    -fx-graphic: url("logo.png");
}

.tab-control .glyph-icon {
    -fx-font-size: 2em !important;
}

.toolbar-control .glyph-icon {
    -fx-font-size: 1.5em !important;
}

.tile-box .glyph-icon {
    -fx-font-size: 3em !important;
}

.hyperlink {
    -fx-text-fill: #00aaff !important;
}
