.root > * {
}

.tool-bar {
    -fx-spacing: 0px;
}

.button,.menu-button,.toggle-button{
    -fx-background-color: transparent;
}
.button:hover,.menu-button:hover,.toggle-button:hover {
    /*-fx-background-color: yellow;*/
}

.toggle-button:selected{
    /*-fx-background-color: blue;*/
}

.button:pressed,.menu-button:pressed,.toggle-button:pressed {
    -fx-background-color: #333;
    -fx-background-radius: 0px;
}
